@import url('fonts.css');

* {
    box-sizing: border-box;
}

button.navbar-toggler:focus {
    outline: 0 !important;
}

/* root */
:root {
    --dark: #4C5866;
    --violet: #7875FE;
    --darkviolet: #4946B4;
    --white: #FFFFFF;
    --grey: #85859B;
}

*::before {
    font-family: 'icons';
}

.search::before {
    content: '\f002';
    font-weight: 400;
    display: inline-block;
    transform: scaleX(-1);
}

.log-in::before {
    content: '\f090';
    font-weight: 300;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Ubuntu';
    color: var(--dark);
    outline: none;
}

.site-header_height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;

    position: relative;
}

.site-header__nav {
    overflow: hidden;

    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
}

.site-header__navbar,
.site-header__nav-list,
.site-header__logo {
    display: flex;
}


.site-header__navbar {
    justify-content: end;
    align-items: center;
    position: relative;

    padding: 28.5px 0;
}

.site-header__nav-bg {
    border-bottom: 1px solid #DDD;
    background: #fff;
    flex-shrink: 0;
}

.site-header__nav-bg:nth-child(1) {
    z-index: 10;
}

.site-header__nav-bg:nth-child(2) {
    border: none;
    z-index: 9;
}

.site-header__nav-position {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
}

.site-header__logo {
    position: absolute;
    left: 0;
    top: 32.5px;

    align-items: center;
    text-decoration: none;

    gap: 5px;
}

.site-header__logo div {
    transition: all 1s;
}

.site-header__logo-el-1,
.site-header__logo-el-3,
.site-header__logo-el-4 {
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 50px;
}

.site-header__logo-el-2,
.site-header__logo-el-2 a {
    color: #333;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    text-decoration: none;
}

.site-header__logo-el-3 {
    width: 32px;
}

.site-header__nav-list {
    align-items: center;
    gap: 60px;
    padding-right: 60px;

    margin-bottom: 0;

    transition: gap 1s;
}

.site-header__nav-list li {
    list-style-type: none;
}

.site-header__nav-list a {
    color: #4C5866 !important;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0 5px;
}

.site-header__nav-list a:hover {
    color: var(--violet) !important;
}

.site-header__nav-list a:focus {
    color: var(--dark) !important;
    background: #DAD9FB;
    outline: none;
}

.site-header__nav-list a:active {
    color: var(--darkviolet) !important;
    background: none;
}

.site-header__nav-list a,
.site-header__nav-list a:hover,
.site-header__nav-list a:active,
.site-header__nav-list a:focus {
    text-decoration: none !important;
}

.search-container {
    align-items: center;

}

.search-container form {
    display: flex;
    gap: 7px;
    align-items: center;

    position: relative;
}

.search-container__search {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    width: 30px;
    height: 30px;
    position: relative;

    font-size: 24px;
    color: var(--dark);
    cursor: pointer;
}

.search-container__search::before {
    position: absolute;
    top: -3px;
    left: 3px;
}

.search-container__search:hover {
    color: #7875FE;
}

.search-container__search:focus {
    color: #7875FE;
    background: #DAD9FB;
    border-radius: 2px;
}

.search-container__search:active {
    color: var(--darkviolet);
    background: none;
}

.search-container__input_disable {
    display: none;
    width: 0;

    transition: display 2s;
}

.search-container__input[type='text'] {
    width: 224px;
    padding: 2px 0;
    padding-right: 25px;
    border: none;
    border-bottom: 1px solid #D1D1E5;
    ;
    outline: none;

    color: #4C5866;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all 2s;
}

.search-container input::placeholder {
    color: #D1D1E5;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-container__cross {
    position: absolute;
    right: 0;
    display: flex;

    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;

    background-color: #D1D1E5;
}

.search-container__cross_disable {
    display: none;
}

.search-container__cross:hover {
    background: #7875FE;
}

.search-container__cross:focus {
    background: #DAD9FB;
    border: 1px solid #7875FE;
}

.search-container__cross:active {
    background: #4946B4;
}

.search-container__cross::before,
.search-container__cross::after {
    content: "";
    position: absolute;
    width: 57%;
    height: 7%;
    background-color: var(--dark);
}

.search-container__cross:hover::before,
.search-container__cross:hover::after {
    background-color: #FFFFFF;
}

.search-container__cross:focus::before,
.search-container__cross:focus::after {
    background-color: #4C5866;
}

.search-container__cross:active::before,
.search-container__cross:active::after {
    background-color: #FFFFFF;
}

.search-container__cross::before {
    top: 45%;
    left: 21%;
    transform: rotate(-45deg);
}

.search-container__cross::after {
    top: 45%;
    left: 21%;
    transform: rotate(45deg);
}

.log-in {
    position: relative;
    height: 32px;
    width: 46px;
    border-radius: 1px;
    border: none;
    background: none;
    margin-left: 30px;

    font-size: 32px;
    color: var(--dark);

    overflow: hidden;

    cursor: pointer;
}

.log-in:hover {
    color: #7875FE;
}

.log-in:focus {
    color: #7875FE;
    background: #DAD9FB;
}

.log-in:active {
    color: #4946B4;
    background: none
}

.log-in::before {
    position: absolute;
    top: -8px;
    left: 2px;
}

.site-header__nav-content {
    position: relative;
    padding: 40px 0;
}

.site-header__navbar_lower {
    position: absolute;
    top: 16px;
    left: 0;
}

/* при нажатии на кнопку в nav */
.site-header__navbar_open {
    align-items: baseline;
    background: #EBEBEB;
    height: 100vh;
    z-index: 1;
    transition: all 0.5s;
}

.site-header__navbar_open .site-header__nav-list {
    gap: 50px;
    transition: all 1s;
}

.site-header__nav-second {
    display: none;
}

.site-header__nav-second .container {
    padding: 0;
}

.site-header__nav-second .log-in {
    /* margin-right: 20px; */
}

.navbar-toggler {
    height: 40px;
    width: 45px;
    margin-top: 3px;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background: #000;

    transition: all 1s;
}

button.navbar-toggler.open span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

button.navbar-toggler.open span:nth-child(2) {
    display: none;
}

button.navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.site-header__content {
    /* background: greenyellow; */

    height: 100vh;
    overflow: hidden;

    padding-top: 140px;
}

.site-header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.site-header__text h1 {
    width: 390px;

    /* color: #4C5866; */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 50px */
}

.site-header__text p {
    width: 390px;
    height: 110px;

    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.site-header__img {
    align-self: flex-end;
}

.btn-sale {
    display: flex;
    width: 255px;
    height: 70px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border: 1px solid #7875FE;

    color: #7875FE;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.btn-sale:hover {
    background: #7875FE;
    color: #FFFFFF;
}

.btn-sale:focus {
    border: 1px solid #7875FE;
    background: #DAD9FB;

    color: #7875FE;
}

.btn-sale:active {
    background: #4946B4;
    color: #FFFFFF;
}

.site-header__img {
    overflow: hidden;
    height: 560px;
}

.site-footer img {
    width: 100%;
}

/* site-main */
.site-main__characteristic {
    background: #EBEBEB;
    width: 100vw;
    padding-top: 90px;
    padding-bottom: 90px;
}
.site-main__characteristic-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30px;
}
.site-main__characteristic-item {
    display: flex;
    justify-content: start;
    gap: 30px;

    padding-top: 19px;
    border-top: 1px solid #C0C0C0;
}

.site-main__characteristic-img {
    width: 160px;
    min-width: 160px;
}
.site-main__characteristic-item img {
    width: 100%;
}
.site-main__characteristic-item-text h3 {
    color: #666;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.site-main__characteristic-item-text p {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.site-main__characteristic-description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 90px;
    gap: 30px;
}

.site-main__characteristic-description-img img {
    width: 100%;
}

.site-main__characteristic-description-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.site-main__characteristic-description-text h2 {
    color: #666;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
}

.site-main__characteristic-description-text p {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
}

.site-main__products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    margin: 90px auto;
}

.site-main__products-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.site-main__products-item-img {
    min-width: 255px;
    width: 100%;
}

.site-main__products-item-img img {
    width: 100%;
}

.site-main__products-item-title {
    color: #666;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-main__products-item-edition {
    color: #B5B5BD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-main__products-item-link {
    color: #7875FE;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;

    position: relative;
}

.site-main__products-item-link::after {
    font-family: 'icons';
    content: '\f178';
    font-weight: 300;

    position: absolute;
    top: -1px;
    right: -27px;
    font-size: 25px;
}

.site-main__products-item-description {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */

    min-height: 135px;
}

.site-main__partners {
    padding-top: 90px;
    padding-bottom: 90px;
}

.site-main__partners--bg {
    background: #EBEBEB;
}

.site-main__partners-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    gap: 30px;
}
.site-main__partners-item {
    border: 1px solid #C4C4C4;

    align-self: stretch;
    justify-self: stretch;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 135px;
}

.site-main__partners-item img {
    max-width: 70%;
}

.site-main__sale--bg {
    overflow: hidden;
}

.site-main__sale-content {
    display: grid;
    grid-template-columns: auto minmax(auto, 730px);
    column-gap: 30px;

    padding-top: 90px;
}

.site-main__sale-description {
    margin-top: 24px;
}

.site-main__sale-title {
    color: #666;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
}

.site-main__sale-txt {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */

    max-width: 350px;
    margin-bottom: 30px;
}

.site-main__sale-img {
    max-height: 410px;
    overflow: hidden;
}

.site-main__sale-img img {
    width: 100%;
}

.site-footer--bg {
    background: #4C5866;
}

@media (max-width: 1399.9px) {
    .site-header__navbar_lower {
        top: 16px;
        right: 0;
        left: auto;
    }
}

@media (max-width: 1199.9px) {
    .site-main__characteristic-item {
        flex-direction: column;
    }

    .site-main__products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991.9px) {
    .site-header__nav-bg:nth-child(2) {
        border-bottom: 1px solid #DDD;
        flex-shrink: 0;
    }

    .site-header__nav-list_first {
        display: none;
    }

    .site-header__nav-second {
        display: flex;
    }

    .site-header__navbar {
        padding: 13px 0;
    }

    .site-header__nav-content {
        padding: 0;
    }

    .site-header__navbar_lower {
        position: static;
    }

    .site-header__logo {
        top: 16px;
    }

    .site-header__nav-list {
        width: 991px !important;
        max-width: 682px;
        gap: auto;
    }

    .site-header__nav-list_second {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .site-header__nav-second .nav-link {
        padding: 0 !important;
        margin: 0;
    }

    .site-header__content {
        padding-top: 165px;
    }

    .site-header__text {
        gap: 30px;
    }

    .site-header__text h1 {
        width: 390px;
        font-size: 50px;
    }

    .site-header__text p {
        width: 390px;
    }

    .site-header__img {
        height: 380px;
    }

    .site-header__img img {
        width: 270px;
    }

    .site-main__characteristic-description {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .site-main__characteristic {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .site-main__characteristic-description-text h2 {
        font-size: 30px;
    }

    .site-main__partners {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .site-main__partners-item {
        min-height: 80px;
    }

    .site-main__sale-content {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 60px;
    }

    .site-main__sale-title {
        font-size: 30px;
    }

    .site-main__sale-img {
        max-height: auto;
        overflow: visible;

        position: relative;
    }
    .site-main__sale-img img {
        position: absolute;
        top: 25px;
        left: 0;

        width: 140%;
    }
    
    .site-main__sale-txt {
        font-size: 18px;
    }
}

@media (max-width: 767.9px) {
    .site-header_height {
        height: auto;
    }

    .site-header__nav-list {
        max-width: 500px;
        gap: 50px;
    }

    .site-header__nav-list a {
        font-size: 18px;
    }

    .site-header__text {
        gap: 20px;
    }

    .site-header__text h1 {
        width: 286px;
        font-size: 38px;
    }

    .site-header__text p {
        width: 287px;
        font-size: 16px;
    }

    .btn-sale {
        width: 196px;
        height: 60px;
    }

    .site-header__content {
        height: auto;
    }

    .site-header__img {
        height: 396px;
    }

    .site-header__img img {
        width: 195px;
    }
    
    .site-main__characteristic-description-img {
        max-width: 330px;
    }

    .site-main__products-item-title {
        font-size: 24px;
    }

    .site-main__products-item-description {
        font-size: 16px;
    }

}

@media (max-width: 575.9px) {
    
    .site-header__content {
        padding-top: 200px;
    }

    .site-header__nav-content {
        padding: 0;
        padding-bottom: 6px;
    }

    .site-header__nav-list_second {
        font-size: 18px;
        align-items: flex-start;
    }

    .site-header__logo {
        position: relative;
        top: auto;
        left: auto;
    }

    .search-container__input[type='text'] {
        width: 210px;
    }

    .site-header__text {
        gap: 15px;
    }

    .site-header__text h1 {
        font-size: 30px;
        width: 221px;
    }

    .site-header__text p {
        font-size: 14px;
        width: 289px;
        height: 90px;
    }

    .btn-sale {
        font-size: 20px;
        width: 144px;
        height: 50px;
    }

    .site-main__characteristic-item-text h3,
    .site-main__characteristic-item-text p {
        font-size: 16px;
    }

    .site-main__characteristic-img {
        width: 100%;
        min-width: auto;
    }

    .site-main__characteristic-description {
        grid-template-columns: 1fr;
    }
    
    .site-main__characteristic-description-text h2 {
        font-size: 24px;
    }

    .site-main__characteristic-description-text p {
        font-size: 16px;
    }

    .site-main__products-item-img {
        min-width: auto;
    }

    .site-main__partners-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .site-main__partners-item {
        min-height: 127px;
    }
    
    .site-main__sale-title {
        font-size: 24px;
    }

    .site-main__sale-txt {
        font-size: 16px;
    }
}

@media (max-width: 509.9px) {
    .site-header_height {
        height: 100vh;
    }

    .site-header__content {
        height: 100vh;
        padding-top: 50px;
    }

    .site-header__img {
        display: none;
    }

    .site-main__characteristic-results {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3fr, 1fr);
        padding: 0 3px;
    }
    .site-main__characteristic-item {
        flex-direction: row;
    }
    .site-main__characteristic-img {
        width: 130px;
        min-width: 130px;
    }

    .site-main__characteristic-description-img {
        max-width: 290px;
    }

    .site-main__products-list {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .site-main__products-item-description {
        min-height: auto;
    }

    .site-main__partners-list {
        display: flex;
        overflow: scroll;
    }

    /* Скрываем scrollbar для Crome, Safari и Opera */
    .site-main__partners-list::-webkit-scrollbar {
        display: none;
    }

    /* Скрываем scrollbar для IE, Edje и Firefox */
    .site-main__partners-list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .site-main__partners-item {
        min-width: 150px;
    }

    .site-main__sale-content {
        grid-template-columns: 1fr;
    }

    .site-main__sale-description {
        order: 2;
    }
    .site-main__sale-img {
        order: 1;
    }

    .site-main__sale-img img {
        position: relative;
        width: 100%;
    }
}